@charset "UTF-8";
/* CSS Document */

/* ========================
	activities style
======================== */


ul#activities_container {
	width: 960px;
	border-top: 1px #adadad solid;
}

ul#activities_container li {
	width: 960px;
}

ul#activities_container li dl {
	width: 960px;
	border-bottom: 1px #adadad solid;
}

ul#activities_container li dl dt {
	width: 960px;
	padding: 10px 0;
	border-bottom: 1px #adadad solid;
}

ul#activities_container li dl dt span {
	width: 920px;
	margin: 0 0 0 20px;
	font-size: 15px;
}

ul#activities_container li dl dd {
	width: 880px;
	padding: 20px 0;
	margin: 0 0 0 40px;
}

ul#activities_container li dl dd p {
	width: 670px;
	float: left;
	font-size: 16px;
	line-height: 1.5em;
}

ul#activities_container li dl dd a {
	width: 170px;
	display: block;
	float: right;
}

ul#activities_container li dl dd span {
  width: 170px;
  height: 170px;
  display: block;
  overflow: hidden;
}

ul#activities_container li dl dd span a img {
  height: 170px;
  margin: 0 auto;
  display: block;
}

/*mediascreen通知*/
@media(max-width: 600px){
	ul#activities_container {
	width: 	100%;
	border-top: 1px #adadad solid;
}

ul#activities_container li {
	width: 100%;
}

ul#activities_container li dl {
	width: 100%;
	border-bottom: 1px #adadad solid;
}

ul#activities_container li dl dt {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px #adadad solid;
}

ul#activities_container li dl dt span {
	width: 90%;
	margin: 0 0 0 20px;
	font-size: 15px;
}

ul#activities_container li dl dd {
	width: 90%;
	padding: 20px 0;
	margin: 0 0 0 40px;
}
	
	
	ul#activities_container li dl dd span  {
	width: 170px;
	height: 170px;
	display: block;
	overflow:visible;
	}
	
	ul#activities_container li dl dd p  {
	width: 340px;
	}	
	
	
}/*mediascreen*/








