@charset "utf-8";

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Century Gothic', '游ゴシック', YuGothic, メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: rgb(51, 51, 51);
	line-height: 1.5em;
/*	background: url('../image/main_back.png') 50% 0% no-repeat transparent;*/
}

div#main_wrapp {
padding: 0px;
margin: 0px;
text-align: center;
}

p#about_top {
	margin-top: 20px;
}

p#about_key {
	width: 632px;
	margin: 180px auto 0;
}

p#message {
	width: 623px;
	margin: 100px auto -60px;
}

div#footer_top_wrapp {
padding: 80px 0px 0px;
margin: 0px 0px -10px;
text-align: center;
position: relative;
z-index: 10;
/*background: url('../image/footer_back.png') 50% 100% repeat-x transparent;*/
}

div#footer_container_wrapp {
padding: 0px 0px 35px;
margin: 0px;
text-align: center;
/*background: url('../image/footer_main_back.gif') 0% 0% repeat transparent;*/
}

p#about_footer {
	width: 533px;
	margin: 0 auto;
	text-align: center;
}

/* 殺してもいいやつ */
div#movebg {
	position: relative;
}

.movebg {
	position: absolute;
}

#object1 {
	height: 124px;
	width: 210px;
	top: 300px;
	left: 100px;
	background: url('./../img/teaser/bg1.png') no-repeat 0 0;
}
#object2 {
	height: 125px;
	width: 253px;
	top: 500px;
	left: 100px;
	background: url('./../img/teaser/bg2.png') no-repeat 0 0;
}
#object3 {
	height: 103px;
	width: 282px;
	top: 380px;
	left: 80%;
	background: url('./../img/teaser/bg3.png') no-repeat 0 0;
}
#object4 {
	height: 125px;
	width: 253px;
	top: 140px;
	left: 75%;
	background: url('./../img/teaser/bg4.png') no-repeat 0 0;
}
#object5 {
	height: 99px;
	width: 253px;
	top: 130px;
	left: 150px;
	background: url('./../img/teaser/bg5.png') no-repeat 0 0;
}
#object6 {
	height: 99px;
	width: 253px;
	top: 300px;
	left: 70%;
	background: url('./../img/teaser/bg6.png') no-repeat 0 0;
}
#object7 {
	height: 99px;
	width: 253px;
	top: 500px;
	left: 70%;
	background: url('./../img/teaser/bg7.png') no-repeat 0 0;
}

@media screen and (max-width: 1400px){

	div.movebg {
		display: none;
	}

}

@media screen and (max-width: 500px){
	body {
		background-size: 900px;
	}


	div#main_inner,
	p#about_key,
	p#message,
	div#footer_container,
	div#about_message,
	div#footer_top_inner,
	div#footer_container div#about_message p#about_footer,
	div#copy_wrrap address {
		width: 100%;
	}

	p#about_key {
		margin: 80px auto 0;
	}

	p#message {
		margin: 40px auto 0;
	}

	div#header div#main_wrapp p#about_top img,
	p#about_key img,
	p#message img,
	div#footer_container div#about_message p#about_footer img {
		width: 90%;
		display: block;
		margin: 0 auto;
	}

	div#footer_top_inner p img {
		width: auto;
		height: 45px;
	}

	div#footer_top_inner p {
		margin-left: 40%;
		width: auto;
	}

}

