@charset "UTF-8";
/* CSS Document */

/* ========================
	faq style
======================== */


div.howto_container {
	width: 960px;
	padding: 30px 0;
}

#tab {
  width: 960px;
}

#tab li {
  width: 480px;
  padding: 30px 0;
  float: left;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #cacaca url() no-repeat top left;
}

#tab li.select {
  background: #AFEC9F url() no-repeat top left;
}


.disnon {
  display: none;
}
.content_wrap {
  width: 960px;
  clear: left;
}

div.inner_contents {
  width: 958px;
  padding: 30px 0;
  border-right: 1px #cacaca solid;
  border-left: 1px #cacaca solid;
  border-bottom: 1px #cacaca solid;
}

div.inner_contents dl {
	width: 900px;
	margin: 0 0 0 30px;
}

div.inner_contents p.top_text {
  width: 900px;
  margin: 0 0 0 30px;
  font-size: 16px;
  line-height: 1.6em;
}

div.inner_contents dl.back01 {
    background: transparent url(../img/howto/01_back.png) no-repeat bottom right;
    -moz-background-size: 100px auto;
    background-size: 100px auto;
}

div.inner_contents dl.back02 {
    background: transparent url(../img/howto/02_back.png) no-repeat bottom right;
    -moz-background-size: 100px auto;
    background-size: 100px auto;
}

div.inner_contents dl.back03 {
    background: transparent url(../img/howto/03_back.png) no-repeat bottom right;
    -moz-background-size: 100px auto;
    background-size: 100px auto;
}

div.inner_contents dl.back04 {
    background: transparent url(../img/howto/04_back.png) no-repeat bottom right;
    -moz-background-size: 100px auto;
    background-size: 100px auto;
}

div.inner_contents dl dt {
	width: 248px;
	float: left;
  border: 1px #AFEC9F solid;
}

div.inner_contents dl dt img {
	width: 240px;
	margin: 0 0 0 4px;
	padding: 4px 0;
	display: block;
}

div.inner_contents dl dd {
	width: 620px;
	float: right;
}

div.inner_contents dl dd p {
	width: 620px;
	padding: 0 0 20px 0;
	font-size: 20px;
	font-weight: bold;
}

div.inner_contents dl dd span {
	width: 620px;
	font-size: 16px;
  line-height: 1.5em;
}






